@media (max-width:768px) {}

/* main */

.main {
    font-size: 1rem;
    color: #252733;
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
    overflow: hidden;
    height: auto;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

/* head */

.head {
    position: fixed;
    width: 100%;
    top: 0;
    height: 6%;
    border-bottom: 0.5px solid #DADADA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 20px;
    z-index: 999;
    background-color: #fff;

}

.logo {
    width: 160px;
    height: 30px;
    cursor: pointer;
}

.search form {
    width: 340px;
    height: 40px;
    box-shadow: none;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.search input {
    font-size: 0.8rem;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
}

.info {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avator div {
    top: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.avator p {
    padding-top: 8px;
    font-size: 1rem;
}

.avator p span {
    color: #3571FF;
    font-weight: 800;
}

.head .more {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 5px;
}

.logout {
    width: 110px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #3571FF;
    color: #3571FF;
    transition: color 1s, background 1s;
    box-shadow: none;
    font-weight: 600;
}

.logout:hover {
    background-color: #3571FF;
    color: #fff;
    box-shadow: none;
}

.button {
    width: 200px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.notificationnone svg {
    color: #252733;
}

.notificationnone span {
    color: #fff;
    background-color: #3571FF;
}


/* body */

.body {
    position: absolute;
    left: 0;
    top: 6%;
    display: flex;
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

/* nav */

.nav {
    display: flex;
    height: 100vh;
    position: fixed;
    width: 13.5%;
}


/* menu */

.menubar {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100vh;
    background: #3571FF;
    justify-content: flex-start;
    align-items: center;

}

.menubar svg {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.5s;
}

.menubar:hover svg:not(:hover) {
    opacity: 0.5;
}

.menu {
    width: 30px;
    height: 30px;
    color: #fff;
    margin: 20px 0;
}

.menu2 {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 100vh;
    padding-top: 10px;
    color: #252733;
    border-right: 0.5px solid #DADADA;
    background-color: #fff;
    
}


.menu2 .menu3 {
    color: #252733;
    height: 40px;
    margin: 5px 0;
    transition: background 0.5s, opacity 0.5s;
}

.menu2:hover .menu3:not(:hover) {
    opacity: 0.5;
}

.menu2 .menu3 svg {
    color: #252733;
    width: 22px;
    height: 22px;
    transition: color 1s;
}

.menu2 .menu3 div {
    min-width: 40px;
}

.menu2 .menu3 span {
    font-family: 'Inter', sans-serif;
    transition: color 1s;
    font-weight: bold;
}

.menu2 .menu3:hover {
    color: transparent;
    background-color: transparent;
}

.menu2 .menu3:active span {
    color: transparent;
    background-color: transparent;
}

.menu2 .menu3:hover span {
    color: #252733;
    background-color: transparent;
}

.menu2 .menu3:hover svg {
    background-color: transparent;
}

.menu5:hover {
    color: transparent;
    background-color: transparent;
}

.menu5:active span {
    color: transparent;
    background-color: transparent;
}

.menu5 span {
    font-size: 0.8rem;
    transition: color 0.5s;
    font-weight: bold;
}

.menu4 {
    padding-bottom: 5px;
    border-bottom: 0.5px solid #DADADA;
}

.menu5:hover span {
    color: #3571FF;
    background-color: transparent;
}


/* content */
.content {
    width: 87%;
    padding: 40px 40px 30px;
    position: absolute;
    left: 250px;
    top: 0;
    background-color: #fff;
}


/* listhead */

.body h3 {
    font-size: 2rem;
}

.body .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

}

.body .title span form {
    width: 245px;
    height: 40px;
}


/* list */

.body .list {
    box-shadow: none;
    vertical-align: middle;
    border-radius: 0;

}

.body .list th {
    text-align: center;
}

.body .list th {
    border-top: 4px solid #252733;
    font-weight: 600;
    font-size: 1rem;

}

.body .list td {
    text-align: center;
    border-bottom: 0.5px solid #DADADA;
    padding: 12px;
    vertical-align: middle;
    font-size: 0.95rem;
}

.body .list td:nth-child(1) {
    font-weight: 600;
}

.body .list td:nth-child(3) {
    font-weight: 600;
}

.body .list td:nth-child(5) svg {
    background-color: #E9E9EA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    transform: rotate(-30deg);
    cursor: pointer;
    color: #252733;
    transition: background 1s, color 1s;
    vertical-align: middle;
}

.body .list td:nth-child(5) svg:hover {
    background-color: #3571FF;
    color: #fff;
}

.body .list td:nth-child(6) svg {
    background-color: #E9E9EA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px;
    cursor: pointer;
    color: #252733;
    transition: background 1s, color 1s;
    vertical-align: middle;
}

.body .list td:nth-child(6) svg:hover {
    background-color: #3571FF;
    color: #fff;
}

.body .list td:nth-child(7) svg {
    background-color: #E9E9EA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 7px;
    transform: rotate(-30deg);
    cursor: pointer;
    color: #252733;
    transition: background 1s, color 1s;
    vertical-align: middle;
}

.body .list td:nth-child(7) svg:hover {
    background-color: #3571FF;
    color: #fff;
}

.body .list {
    border-bottom: 4px solid #252733;
}


/* add */
.body .add {

    background: #3571FF;
    width: 170px;
    height: 45px;
    border-radius: 150px;
    font-size: 1.1rem;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
    align-items: center;
    padding-right: 25px;
    box-shadow: none;
}

.body .add:hover {
    background-color: #3571FF;
}

.body .add span {
    padding-top: 5px;
}

.body .add svg {
    margin-right: 15px;
}


.bottom {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}


.number {
    margin-left: 400px;

}

.number ul li button {
    font-size: 1.1rem;
    color: #8F8F8F;
}

.number ul li:not(select) button {
    background: transparent;
}



/* memo */

.memobtn {
    position: fixed;
    left: 90px;
    bottom: 3%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.memo {
    position: fixed;
    width: 62px;
    height: 62px;
    left: 90px;
    bottom: 3%;
    color: #fff;
    background-color: #3571FF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.memo:hover {
    background-color: #3571FF;
}

.memolist {
    width: 300px;
    height: 100%;
    z-index: 999999;
}

.memolist .list .title {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
    width: 300px;
    height: 55px;
    background-color: #3571FF;
    color: #fff;
    font-weight: 600;
}

.memolist .list .title .add {
    cursor: pointer;
}

.memolist ul {
    padding: 0;
}

.memolist ul dl {
    padding: 10px;
    transition: background 1s;
    width: 100%;
}


.memolist ul div {
    padding: 0;
    display: block;
}

.memolist ul li {
    border-bottom: 0.5px solid #DADADA;
    display: block;
}

.memolist ul dl:hover {
    background-color: #E1EAFF;
    border: none;
}

.memolist ul dl dt {
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.memolist ul dl dd {
    font-size: 0.8rem;
    color: #252733;
    opacity: 0.5;
}

.memolist ul .memo1:hover {
    background-color: transparent;
}

.memolist ul .memo1:last-child>div {
    padding: 5px;
}

.memolist ul span {
    font-size: 0.7rem;
}

.memolist ul span:hover {
    background-color: transparent;
    pointer-events: none;
}