@media (max-width:768px) {}

/* main */

.main {
    font-size: 1rem;
    color: #252733;
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
    overflow: hidden;
    height: auto;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

/* head */

.head {
    position: fixed;
    width: 100%;
    top: 0;
    height: 6%;
    border-bottom: 0.5px solid #DADADA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 20px;
    z-index: 999;
    background-color: #fff;

}

.logo {
    width: 160px;
    height: 30px;
    cursor: pointer;
}

.search form {
    width: 340px;
    height: 40px;
    box-shadow: none;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.search input {
    font-size: 0.8rem;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
}

.info {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avator div {
    top: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.avator p {
    padding-top: 8px;
    font-size: 1rem;
}

.avator p span {
    color: #3571FF;
    font-weight: 800;
}

.head .more {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 5px;
}

.logout {
    width: 110px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #3571FF;
    color: #3571FF;
    transition: all 0.5s ease-in 0s;
    box-shadow: none;
    font-weight: 600;
}

.logout:hover {
    background-color: #3571FF;
    color: #fff;
    box-shadow: none;
}

.button {
    width: 200px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.notificationnone svg {
    color: #252733;
}

.notificationnone span {
    color: #fff;
    background-color: #3571FF;
}


/* body */

.body {
    position: absolute;
    left: 0;
    top: 6%;
    display: flex;
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

/* nav */

.nav {
    display: flex;
    height: 100vh;
    position: fixed;
    width: 13.5%;
}


/* menu */

.menubar {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100vh;
    background: #3571FF;
    justify-content: flex-start;
    align-items: center;

}

.menubar svg {
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
}

.menubar:hover svg:not(:hover) {
    opacity: 0.5;
}

.menu {
    width: 30px;
    height: 30px;
    color: #fff;
    margin: 20px 0;
}

.menu2 {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 100vh;
    padding-top: 10px;
    color: #252733;
    border-right: 0.5px solid #DADADA;
    background-color: #fff;

}


.menu2 .menu3 {
    color: #252733;
    height: 40px;
    margin: 5px 0;
    transition: all 0.5s ease-in 0s;
}

.menu2:hover .menu3:not(:hover) {
    opacity: 0.5;
}

.menu2 .menu3 svg {
    color: #252733;
    width: 22px;
    height: 22px;
    transition: all 0.5s ease-in 0s;
}

.menu2 .menu3 div {
    min-width: 40px;
}

.menu2 .menu3 span {
    font-family: 'Inter', sans-serif;
    transition: color 1s;
    font-weight: bold;
}

.menu2 .menu3:hover {
    color: transparent;
    background-color: transparent;
}

.menu2 .menu3:active span {
    color: transparent;
    background-color: transparent;
}

.menu2 .menu3:hover span {
    color: #252733;
    background-color: transparent;
}

.menu2 .menu3:hover svg {
    background-color: transparent;
}

.menu5:hover {
    color: transparent;
    background-color: transparent;
}

.menu5:active span {
    color: transparent;
    background-color: transparent;
}

.menu5 span {
    font-size: 0.8rem;
    transition: all 0.5s ease-in 0s;
    font-weight: bold;
}

.menu4 {
    padding-bottom: 5px;
    border-bottom: 0.5px solid #DADADA;
}

.menu5:hover span {
    color: #3571FF;
    background-color: transparent;
}


/* content */
.content {
    width: 87%;
    padding: 40px 40px 30px;
    position: absolute;
    left: 250px;
    top: 0;
    background-color: #fff;
}


/* listhead */

.body h3 {
    font-size: 2rem;
}

.body .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

}

.body .title span form {
    width: 245px;
    height: 40px;
}


.body .title .add {
    width: 140px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #3571FF;
    color: #3571FF;
    font-weight: 600;
    transition: all 0.5s ease-in 0s;
}

.body .title .add:hover {
    background: #3571FF;
    color: #fff;
}


/* list */

.listform>.list {
    width: 100%;
    box-shadow: none;
    border: 2px solid #DADADA;
    border-radius: 10px;
    padding: 10px;
    position: relative;

}

.listform>.list::before {
    background-color : none;
    height: 0;
}





/* left */

.listform>.list .left {
    box-sizing: border-box;
    width: 35%;
    height: 300px;
    background: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 10px;
    margin: 20px 40px;
    padding: 50px 30px;
    display: flex;
}

.listform>.list .left .image {
    width: 120px;
    height: 120px;
    background-color: #DADADA;
    display: block;
    border-radius: 50%;
    margin-right: 50px;
}

.listform>.list .left .text .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listform>.list .left .text h5 {
    font-size: 1.6rem;
    padding-bottom: 15px;
}

.listform>.list .left .text h5 span {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 10px;
}

.listform>.list .left .text h6 {
    font-size: 1rem;
}


.listform>.list .left .text p {
    color: #8F9096;
    display: flex;
    align-items: center;
margin-bottom: 10px;
}

.listform>.list .left .text p svg { 
    width: 20px; 
    margin-right: 10px;
}



/* right */

.listform>.list .right {
    box-sizing: border-box;
    width: 58%;
    height: 300px;
    background: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 10px;
    padding: 25px 40px 40px 60px;
    text-align: left;
}



.listform>.list .right td input {
    font-size: 0.8rem;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 220px;
    height: 30px;
    background-color: #fff;
    padding: 5px 10px;
    transition: all 0.5s ease-in 0s;
}


.listform>.list .right td div::before {
    border: none;
}

.listform>.list .right td div::after {
    border: none;
}

.listform>.list .right td input:hover {
    border: 1px solid #3571FF;
}






.btngroup {
    margin: -10px 0 20px 1290px;

}

.btngroup .btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 600;
    box-shadow: none;
}


.btngroup .btn:first-child {
    color: #3571FF;
    border: 1px solid #3571FF;
    transition: all 0.5s ease-in 0s;
    margin-right: 30px;
}

.btngroup .btn:first-child:hover {
    background-color: #3571FF;
    color: #fff;
}


.btngroup .btn:last-child {
    color: #FB104A;
    border: 1px solid #FB104A;

    transition: all 0.5s ease-in 0s;
}

.btngroup .btn:last-child:hover {
    background-color: #FB104A;
    color: #fff;
}










/* memo */

.memobtn {
    position: fixed;
    left: 90px;
    bottom: 3%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.memo {
    position: fixed;
    width: 62px;
    height: 62px;
    left: 90px;
    bottom: 3%;
    color: #fff;
    background-color: #3571FF;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.memo:hover {
    background-color: #3571FF;
}

.memolist {
    width: 300px;
    height: 100%;
    z-index: 999999;
}

.memolist .list .title {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
    width: 300px;
    height: 55px;
    background-color: #3571FF;
    color: #fff;
    font-weight: 600;
}

.memolist .list .title .add {
    cursor: pointer;
}

.memolist ul {
    padding: 0;
}

.memolist ul dl {
    padding: 10px;
    transition: all 0.5s ease-in 0s;
    width: 100%;
}


.memolist ul div {
    padding: 0;
    display: block;
}

.memolist ul li {
    border-bottom: 0.5px solid #DADADA;
    display: block;
}

.memolist ul dl:hover {
    background-color: #E1EAFF;
    border: none;
}

.memolist ul dl dt {
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.memolist ul dl dd {
    font-size: 0.8rem;
    color: #252733;
    opacity: 0.5;
}

.memolist ul .memo1:hover {
    background-color: transparent;
}

.memolist ul .memo1:last-child>div {
    padding: 5px;
}

.memolist ul span {
    font-size: 0.7rem;
}

.memolist ul span:hover {
    background-color: transparent;
    pointer-events: none;
}